-Duser.country=US
-Duser.language=en

-Dhttp.proxyHost=mail-proxy02.inverso.local
-Dhttp.proxyPort=8080
-Dhttp.nonProxyHosts=localhost|127.*|[::1]|10.*|192.168.*|*.local|*.loc|*.gavi-intra.de|*.vkbads.de|*.vkbintra.de
-Dhttps.proxyHost=mail-proxy02.inverso.local
-Dhttps.proxyPort=8080
-Dhttps.nonProxyHosts=localhost|127.*|[::1]|10.*|192.168.*|*.local|*.loc|*.gavi-intra.de|*.vkbads.de|*.vkbintra.de